datasets
ipython
lpips
matplotlib
numpy
omegaconf
pandas
Pillow
protobuf
scipy==1.15.3
torch
torchvision
tqdm
transformers==4.37.2
pytorch_lightning
einops
torch-fidelity
torchmetrics[image]
pip-system-certs
certifi
tabulate
